body {
  background-color: lightsteelblue;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: snow;
  margin: 15vh;
  padding: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 1vh;
  margin: 0.5vh;
}

h1 {
  font-family: monospace;
}

h2 {
  font-family: monospace;
}

button {
  font-family: monospace;
}